<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deytales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/index.css'%}">
</head>
<body>
    <h1>Hello {{user.first_name}} {{user.last_name}}</h1>


    {% for post in user.user_messages.all %}
    <p>{{post.message}}</p>
    {% endfor %}

    {% for comment in user.user_comments.all %}
    <p>{{comment.comment}}</p>
    {% endfor %}

    Edit User Form:
    <form action="/edit/{{user.id}}" method=POST>
        {% csrf_token %}
        <div class="register">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" value={{user.first_name}} >
        </div>
        <div class="register">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" value={{user.last_name}} >
        </div>
        <div class="register">
            <label for="email">Email</label>
            <input type="email" name="email" value={{user.email}} >
        </div>
        
    <a href="/success"><button>Submit</button></a>
    </form>

    <a href="/logout"><button>Log Out</button></a>
</body>
</html>